.manager-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    .manager-sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        background: $black;
        width: 220px;
        padding-bottom: 50px;
        overflow-y: auto;

        .manager-header {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $dark-gray1;

            .manager-header-left {
                color: $white;

                .manager-header-title {
                    font-weight: 600;
                    font-size: 18px;
                    letter-spacing: 3px;
                }
                
                .manager-header-subtitle {
                    font-weight: 300;
                    margin: 2px 0 0 0;
                    font-size: 8px;
                    letter-spacing: 1.4px;
                }
            }

            .manager-header-right {
                path {
                    fill: $white;
                }
            }
        }

        .manager-sidebar-section {
            border-bottom: 1px solid $dark-gray1; 
            padding-bottom: 15px;

            .manager-sidebar-section-name {
                color: $gray1;
                font-weight: 400;
                font-size: 10px;
                letter-spacing: 2px;
                margin-bottom: 5px;
                padding: 18px 15px 0px 15px;
            }

            .nav-link {
                display: block;
                color: $white;
                text-decoration: none;
                padding: 8px 15px;
                font-size: 14px;
                font-weight: 300;
                // transition: all 0.2s;
                letter-spacing: 0.7px;
                opacity: 0.7;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-link-right-label {
                    font-size: 10px;
                    letter-spacing: 1.5px;
                    font-weight: 300;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -2px;
                    width: 2px;
                    background: $cobalt4;
                }

                &:hover {
                    background: rgba($dark-gray5, 0.35);
                    opacity: 1;
                }
            }

            .nav-link-active {
                .nav-link {
                    background: $black;
                    background: rgba($cobalt4, 0.3);
                    color: $white;
                    font-weight: 400;
                    opacity: 1;

                    &:before {
                        left: 0;
                    }
    
                    &:hover {
                        // background: $black;
                    }
                }
    
            }
        }
    }

    .manager-content {
        flex: 1 1;
        position: relative;

        .route-container {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;

            .route-header {
                height: 70px;
                border-bottom: $lightBorder;
                display: flex;
                flex-grow: 0;
                flex-shrink: 0;
                justify-content: space-between;
                padding: 0 20px;
                align-items: center;

                .route-header-left {
                    display: flex;

                    .bp3-button {
                        margin: 0 20px 0 0;
                    }
                }

                .route-title {
                    font-size: 34px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    position: relative;
                    top: -3px;
                }

                .route-actions {
                    display: flex;

                    li {
                        margin: 0 0 0 10px;
                    }
                }
            }

            .route-content-container {
                flex-grow: 1;
                flex-shrink: 1;
                position: relative;
                display: flex;

                .route-sidebar {
                    width: 350px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    border-right: $lightBorder;
                }

                .route-content {
                    flex-grow: 1;
                    flex-shrink: 1;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}